.controls__grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.controls__message {
  /* display: flex; */
  grid-column: 1;
  grid-row: 1/3;
  align-items: center;
}
.controls__message p {
  margin-bottom: 0.25em;
}
.controls__preview {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}
.controls__start-stop {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}
.controls__next {
  display: flex;
  grid-column: 4;
  grid-row: 1;
  align-items: center;
  justify-content: center;
}

.controls__volume {
  display: flex;
  grid-column: 5;
  grid-row: 1/3;
  align-items: center;
  justify-content: center;
}
.controls__progress-bar {
  display: flex;
  grid-row: 2;
  grid-column: 1/5;
  align-items: center;
  justify-content: center;
}
